<%- contentFor('body') %>
<table id="good" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>商品名</th>
            <th>下单时间</th>
            <th>购买用户</th>
            <th>发布用户</th>
            <th>金额</th>
        </tr>
    </thead>
    
    <tbody>
        <% list.forEach(function(l){ %>
        <tr>
            <td><%- l.goodname %></td>
            <td><%- l.addTime %></td>
            <td><%- l.buyname %></td>
            <td><%- l.username %></td>
            <td><%- l.price %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<style>
    .snap-shot {
        width: 100px;
    }
</style>
<script>
    var deleteGood = function (id) {
        $.get('/admin/good/delete', {
            id,
        }, function (res) {
            if (res.code === 200) {
                alert('删除成果');
                window.location.reload();
            }
            console.log(res);
        })
    }
    $(function () {
        $('#good').DataTable()
    })
</script>