<%- contentFor('body') %>
<table id="movie" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>电影名</th>
            <th>下单时间</th>
            <th>金额</th>
            <th>座位</th>
        </tr>
    </thead>
    
    <tbody>
        <% list.forEach(function(l){ %>
        <tr>
            <td><%- l.moviename %></td>
            <td><%- l.addTime %></td>
            <td><%- l.price %></td>
            <td><%- l.seats %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<style>
    .snap-shot {
        width: 100px;
    }
</style>
<script>
    var deleteMovie = function (id) {
        $.get('/admin/movie/delete', {
            id,
        }, function (res) {
            if (res.code === 200) {
                alert('删除成果');
                window.location.reload();
            }
            console.log(res);
        })
    }
    $(function () {
        $('#movie').DataTable()
    })
</script>